.task {
  background-image: linear-gradient(to bottom, rgb(186, 215, 224) 0%, rgb(128, 117, 128) 100%);
  margin:50px;
  text-align: center;
  width: 250px;
  height: 350px;
  color: rgb(143, 86, 86);
  border-radius: 5px;
  transition: 0.3s;
}
.task:hover {
  transform: scale(1.05);
}

.checked {
  opacity: 0.7;
}

.taskSpan {
  color: brown;
}